<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="/images/Avis_Budget.jpg" height="40"/>
      </a>
    </div>

    <p class="navbar-right navbar-text">Current User: {{currentUser.name}}</p>
  </div>
</nav>
