{{#if vehicle.isReady}}
  <button class="btn btn-primary btn-lg" {{action 'click'}}>Return to Avis</button>
{{else}}
  {{#link-to 'checklist' vehicle class='btn btn-lg btn-warning'}}Not Ready{{/link-to}}
{{/if}}
