<div class="onoffswitch">
    {{input type="checkbox" name="{{unbound view.elementId}}" class="onoffswitch-checkbox" checked=checked}}
    <label class="onoffswitch-label" for="{{unbound view.elementId}}">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>
