html, body {
  margin: 20px;
}

.big-text {
    font-size: 1.75em;
}

body > div > .container {
  margin-top: 40px;
}

.badge {
    font-size: 1.1em;
}

.voffset {
  margin-top: 2px;
}

.hidden-input {
  visibility: hidden;
  width: 0;
  height: 0;
}

.horizontal-line {
  height: 1px;
  background-color: gray;
  text-align: center;
}

.horizontal-line > span {
  color: gray;
  background-color: white;
  position: relative;
  top: -0.7em;
}
