<div class="container big-text">
  {{outlet}}
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">

    <form class="navbar-form navbar-left">
      <div class="form-group">
    {{view Ember.Select content=users
    optionLabelPath="content.name"
    optionValuePath="content.id"
    selection=currentUser
    class="form-control"}}
  </div>
  </form>
  {{#link-to 'index' class="btn btn-primary navbar-btn navbar-right"}}Start Over{{/link-to}}
  </div>
</nav>
