<h2 id='title'>Readiness Checklist</h2>
<h4>These tasks must be completed before the car is ready for its next Zipcar
trip. Please check off all items as they are completed. Thanks!</h4>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      {{#each checklistItems}}
        {{checklist-item item=this action="checklistItemToggled"}}
      {{/each}}
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button {{bind-attr disabled=notReady}} class="btn btn-lg btn-primary btn-block send-to-zipcar" {{action 'sendToZipcar'}}>Send Vehicle to Zipcar Fleet</button>
  </div>
</div>
{{outlet}}
