<h2 id='title'>Search By License</h2>
<form role="form" {{action "searchLicense" on="submit"}}>
<div class="row">
  <div class="col-sm-12">
    {{license-plate license=license}}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <input type="file" accept="image/*;capture=camera"></input><br />
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Find Vehicle"></input>
  </div>
</div>
</form>
