<form role="form" {{action "searchLicense" on="submit"}}>
    {{license-plate license=license}}
    <input type="file" accept="image/*;capture=camera"></input><br />
    <input type="submit" class="btn btn-primary btn-block" value="Find Vehicle"></input>
</form>
